.btn-add-contact {
  border: 2px solid #1b5585;
  background-color: #fff;
  border-radius: 10px;
  color: #1b5585;
  margin-top: 30px;
  padding: 8px;
}

.btn-add-contact:hover {
  background-color: #1b5585;
  color: #fff;
}

.btn-contact {
  border: 1px solid #1b5585;
  background-color: #fff;
  border-radius: 10px;
  color: #1b5585;
  padding: 8px;
}

.btn-contact:hover {
  background-color: #1b5585;
  color: #fff;
}

.btn-delete {
  border: 1px solid rgb(207, 16, 16);
  color: rgb(207, 16, 16);
}

.btn-delete:hover {
  background-color: rgb(207, 16, 16);
}

.contact-container {
  /* border: 2px solid green; */
  margin: 2%;
}

.contact-heading {
  color: #1b5585;
  font-size: 25px;
}

.contact-list {
  border-collapse: collapse;
  border-radius: 1em;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
}

.contact-list th,
.contact-list td {
  padding: 10px;
}

.contact-list th {
  background-color: #4395d8;
}

.contact-list tr {
  background-color: #d6e7f3;
  border-bottom: 1px solid white;
}
